@font-face {
  font-family: "Didot";   /*Can be any text*/
  src: local("Didot"),
    url("./fonts/GFSDidot-Regular.ttf") format("truetype");
}

body {
  background-color: var(--black);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --white: white;
  --black: black;
  --lilac: #5A67AE;
  --red: #D2494C;
  --yellow: #F9D03C;
  --pea-shoot: #85C598;
  --app-height: 100%;
}

/* ======= COLORS ====== */ 

.bg--lilac {
  background-color: var(--lilac);
}

/* ======= FONTS ====== */ 

h1, h2, h3, h4, h5, h6, p {
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

/* ======= FLEXBOX ====== */ 

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.ai--center {
  align-items: center;
}

.ac--center {
  align-content: center;
}

.jc--center {
  justify-content: center;
}

/* ====== GRID ====== */

.grid--container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;
}

/* ====== MENUS ====== */

.menu--padding {
  padding-top: 25px; 
}

.menu--logo {
  margin-left: 50px;
  margin-bottom: 15px;
  width: 200px;
}

.menu--rainbow {
  display: flex;
  width: 60vW;
  height: 100%;
}

.menu--rainbow h3 {
  margin: 0;
}

.menu--rainbow div {
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.menu--rainbow div:nth-child(1) {
  width: 25%;
  background-color: var(--lilac);
}

.menu--rainbow div:nth-child(2) {
  width: 25%;
  background-color: var(--red);
}

.menu--rainbow div:nth-child(3) {
  width: 10%;
  background-color: var(--yellow);
  color: var(--black)
}

.menu--rainbow div:nth-child(3) h3 {
  color: var(--black)
}

.menu--rainbow div:nth-child(4) {
  width: 20%;
  background-color: var(--pea-shoot);
}

.menu--rainbow div:nth-child(5) {
  width: 20%;
  background-color: var(--white);
}

/* ======= FOOTER ====== */ 

.footer--container {
  padding: 25px 50px; 
}

.footer--container h3 {
  margin: 10px 0px;
}

.footer--grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;
}

.footer--logo {
  margin-bottom: 30px;
  width: 200px;
}

.social--icon {
  margin-right: 10px;
  height: 30px;  
}

.footer--rainbow--bar  {
  display: flex;
}

.footer--rainbow--bar div {
  height: 30px;
}

.footer--rainbow--bar div:nth-child(1) {
  width: 5%;
  background-color: var(--red);
}

.footer--rainbow--bar div:nth-child(2) {
  width: 25%;
  background-color: var(--lilac);
}

.footer--rainbow--bar div:nth-child(3) {
  width: 40%;
  background-color: var(--pea-shoot);
}

.footer--rainbow--bar div:nth-child(4) {
  width: 5%;
  background-color: var(--white);
}

.footer--rainbow--bar div:nth-child(5) {
  width: 25%;
  background-color: var(--yellow);
}

.healing--footer {
  background-color: var(--yellow);
}

.healing--footer p {
  color: var(--lilac);
}

.healing--footer h3 {
  color: var(--lilac);
}
/* ======= LANDING PAGE ====== */ 

.landing--page {
  background-image: url('../public/Images/Backgrounds/Landing-Page.png');
  height: var(--app-height)
}

.landing--page--logo {
  height: 150px;
  left: 10%;
  position: absolute;
  top: 15%;
}

.landing--page--menu {
  height: 150px;
  right: 10%;
  position: absolute;
  bottom: 15%;
}

.landing--page--menu a {
  color: var(--white);
  text-decoration: none;
}

.landing--page--menu h1 {
  margin: 0px 4px;
  z-index: 10;
}

.rainbow--bar {
  display: flex;
  height: 10px;
  margin-left: 70px;
  margin-top: -12px;
  width: 220px;
  z-index: 9;
}

.rainbow--bar div {
  height: 100%;
}

.rainbow--bar div:nth-child(1) {
  width: 13%;
  background-color: var(--lilac)
}

.rainbow--bar div:nth-child(2) {
  width: 10%;
  background-color: var(--red)
}

.rainbow--bar div:nth-child(3) {
  width: 20%;
  background-color: var(--yellow)
}

.rainbow--bar div:nth-child(4) {
  width: 9%;
  background-color: var(--pea-shoot)
}

.rainbow--bar div:nth-child(5) {
  width: 25%;
  background-color: var(--black)
}

.rainbow--bar div:nth-child(6) {
  width: 23%;
  background-color: var(--white)
}

/* ====== CONTENT PAGES ====== */

.about--header {
  position: absolute;
  width: 33vW;
}

.body--container {
  background-image: url('../public/Images/Backgrounds/Page-Background.png');
  padding: 50px 100px;
}

.body--text {
  margin-top: 150px;
  padding: 50px 30px;
  min-width: 400px;
  width: 60%;
}

.intro--container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;
  min-height: 50vH;
  padding: 50px 100px;
}

.intro--text {
  padding: 50px 30px;
  min-width: 400px;
  width: 60%;
}

.page--intro {
  font-size: 68px;
  font-family: "Didot";
  width: 50%;
}

  /* ====== DANCE ABOUT ====== */

.headshot {
  min-width: 300px;
  width: 100%;
}

@media only screen and (max-width: 900px) {

  .intro--container {
    padding: 50px 30px;
  }

  .intro--text {
    min-width: 300px;
  }

  .headshot {
    max-width: 300px;
    width: 100%;
  }

  .page--intro {
    width: 100%;
  }

  /* ====== MENU ====== */

  .menu--logo {
    margin-left: 10px;
    margin-bottom: 15px;
    width: 125px;
  }

  .menu--padding {
    padding-top: 10px;
  }

  .menu--rainbow {
    display: flex;
    width: 100vW;
  }

  .menu--rainbow div:nth-child(1) {
    width: 18%;
  }

  .menu--rainbow div:nth-child(2) {
    width: 43%;
  }

  .menu--rainbow div:nth-child(3) {
    width: 13%;
  }

  .menu--rainbow div:nth-child(4) {
    width: 23%;
  }

  .menu--rainbow div:nth-child(5) {
    width: 3%;
  }
}

@media only screen and (max-width: 650px) {


  /* ====== FLEXBOX ====== */

  .mobile-flex-row {
    flex-direction: row;
  }
  /* ====== GRID ====== */

  /* ====== FOOTER ====== */

  .footer--container {
    padding: 20px 20px;
  }

  .footer--grid {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer--logo {
    width: 125px;
    margin: 20px 0px 10px 0px;
  }

  /* ====== PAGE CONTENT ====== */

  .grid--container {
    display: flex;
    flex-direction: column;  
  }

  .about--header {
    position: relative;
    width: 50%;
  }
  
  .body--text {
    min-width: 0px;
    width: auto;
    margin-top: 0px;
    padding: 20px 0px;
  }

  .body--container {
    background-image: url('../public/Images/Backgrounds/Page-Background.png');
    padding: 20px 20px;
    width: auto;
  }

  .intro--container {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
  }

  .intro--text {
    min-width: 0px;
    padding: 20px 0px;
    width: auto;
  }

  .page--intro {
    font-size: 60px;
    width: auto;
  }

  /* ====== DANCE ABOUT ====== */

  .headshot {
    width: auto;
  }
  
}